# Ignore Python cache
__pycache__/
*.pyc

# Ignore Colab/Jupyter checkpoints
.ipynb_checkpoints

# Ignore virtual environment
venv/
env/

# OPTIONAL: If 'socio_economics.csv' is >100MB, uncomment the line below
# data/raw/*.csv