# Ignore Python cache
__pycache__/
*.pyc

# Ignore Colab/Jupyter checkpoints
.ipynb_checkpoints

# Ignore virtual environment
venv/
env/

# Ignore processed/generated data
data/processed/
data/processed/*.csv

# Ignore notebook checkpoints
.ipynb_checkpoints/


# OPTIONAL: If 'socio_economics.csv' is >100MB, uncomment the line below
# data/raw/*.csv